<% @shop_name=Shop.find(id) %>
<% @id=id %>
<% @locationId=locationId %>
<% @exception=each_bldg%>
<% @imgSequences=[1,2,3,4,5] %>

	<li class="hidei">
		<div id="info_fadeout" class="info_fadeout">×</div>

		<% if @exception==60 %><!--mall-->
			<% @bldg_name=Location.find(locationId) %>
			<div id="mall_name">
				<%= @bldg_name.location.split()[1] %>
			</div>

			<div id="mallInfo_wrap">
			<ul id="mallInfo">
			<% @tenants=Shop.where(location_id: locationId).order(floor: 'DESC').each do |tenant| %>
				<li class="tenants" style="background-image: url(<%= tenant.logo_url %>); 
				background-size: contain; background-repeat: no-repeat; background-position-x: center;
					<% if !@closeShops_0.find{|n|n == tenant.id} || !@closeShops_1.find{|n|n == tenant.id} then %>
						<%= @greenAction %>
					<% else %>
						<%= @grayAction %>
					<% end %>
				">
					
					<% if tenant.logo_url.blank? %>
						<span class="shop_nameMall"><%= tenant.shop_name %></span>
					<% end %>
					<!--モール店舗詳細-->
				</li>
					<%= render partial: 'shops/mallShop', locals: {id: tenant.id } %>
			<% end %>
			</ul>
			</div>

		<% elsif @exception==61 %><!--streetInfo-->
			<div id="mall_name">
				<% p "StreetInfoのlocationIdは#{locationId}" %>
				<% p @locationInfo=Location.find(locationId) %><!--locationレコード-->
				<% p @streetInfo=Street.find_by(street_name: @locationInfo.location)%><!--streetレコード-->
				
				<% if @streetInfo.blank? %>
					<% @streetInfo=Street.find(6) %>
					<%= @streetInfo.street_name %>
					<% p "@streetInfoありまセーン" %>
				<% else %>
					<% p "@streetInfoあります" %>
					<%= @streetInfo.street_name %>
				<% end %>
			</div>

			<div id="shop_img_grid_contaier">
				<% @location_ids=Location.where.not(street_id: @streetInfo.id).sample(10).pluck(:id) %>
				<% @location_ids.each do |id| %><!--nilClassを弾いてしまう-->
					<% @shopImgBag=[] %>
					<% @shopImg=Shop.find_by(location_id: id) %>
					<% if !@shopImg.s_img1 %><!--加えてみた-->
						<% p "画像ありません" %>
					<% else %>
						<% @shopImgBag.push(@shopImg.s_img1) %>
					<% end %><!--加えてみた-->
				<% end %>

				<% if @shopImgBag.blank? %><!--herokuに反映されてない。-->
					<div id="shop_img1" style="background-image:url(<%= asset_path 'eat_img1.png' %>)"></div>
					<div id="shop_img2" style="background-image:url(<%= asset_path 'sa_img2.png' %>)"></div>
					<div id="shop_img3" style="background-image:url(<%= asset_path 'sh_img3.png' %>)"></div>
					<div id="shop_img4" style="background-image:url(<%= asset_path 'sa_img4.png' %>)"></div>
					<div id="shop_img5" style="background-image:url(<%= asset_path 'eat_img5.png' %>)"></div>
				<% elsif @shopImgBag.length>=5 %>
					<% @shopImgBag.sample(5).each_with_index do |img, index| %>
						<div id="shop_img<%= index %>" style="background-image:url(<%= img %>)"></div>
					<% end %>
				<% end %>
			</div>

			<div id="enterStreet">
				<a>Go to <%= @streetInfo.street_name %> ?</a><br>
				<%= form_with(url: "/", method: :get, local: true) do %>
				<% p "Street.id#{@streetInfo.id}に変遷予定です" %>
				<a data-style="gotoStreet">[Yes]<%= submit_tag"#{@streetInfo.id}", data:{style:"gotoStreet"} %></a>
				<a class="info_fadeout", data-style="gotoStreet">[No]</a>
				<% end %>
			</div>

		<% else %><!--shopInfo-->
			<div id="shop_name"><%= @shop_name.shop_name %></div>
			<div id="shop_img_grid_contaier">
				
				<% @imgSequences.each do |imgSequence| %>
					<% if !eval("@shop_name.s_img#{imgSequence}").blank? %>
						<div id="shop_img<%= imgSequence %>" style="background-image:url(<%= eval("@shop_name.s_img#{imgSequence}" ) %>)"></div>
					<% elsif @shop_name.category.to_s.split("-")[0] =="shopping" %>
						<div id="shop_img<%= imgSequence %>" style="background-image:url(<%= asset_path "sh_img#{imgSequence}.png" %>)"></div>
					<% elsif @shop_name.category.to_s.split("-")[0]=="salon" %>
						<div id="shop_img<%= imgSequence %>" style="background-image:url(<%= asset_path "sa_img#{imgSequence}.png" %>)"></div>
					<% elsif @shop_name.category.to_s.split("-")[0]=="eat&drink" %>
						<div id="shop_img<%= imgSequence %>" style="background-image:url(<%= asset_path "eat_img#{imgSequence}.png" %>)"></div>
					<% else %><!--other-->
						<div id="shop_img<%= imgSequence %>" style="background-image:url(<%= asset_path 'other.png' %>)"></div>
					<% end %>
				<% end %>
			</div><!--shop_img_grid_contaier-->

			<div class="shop_category">
				<% @shop_name.category.to_s.split("-").each do |i| %>
					<%= "##{i}" %>
				<% end %>
			</div>
			<!--<div class="shop_campaign">Campaign  >></div>-->
			<div class="shop_floor"><%= @shop_name.floor %>F</div>
			<div class="shop_link"><%= link_to'ShopWebSite',@shop_name.url %></div>

	<% end %><!--elseのend-->
	
	

</li>
