<p id="anchor" class="closeShops<%= @closeShops_1 %>"></p>

		<% @line1shops.each.with_index do |line1shop, index| %><!--location数-->
			<% @mmm=line1shop.shop_ids.size() %>
				<% if @mmm>5 %><%#= "mallの定義" %>
					<% p @Mall1=index %>
				<% end %>

			<% line1shop.shops.each.with_index do |shop, inde| %><!--shop数-->

				<%# Mall %>
				<% if index==@Mall1 %>
				<% @lef = 9+24*index %>
					<ul id="bldg<%= index %>" class="shops" style="top:39.3vh; left:<%= @lef %>vw;
						<%= @mallCss %>
					">
						<span class="shop_name"><%= line1shop.location.split(",", 2)[1] %></span>
						<%= render partial: "shops/show", locals: { shopInfo: shop, status: index, each_bldg: line1shop } %>
					</ul>

				<%# Street_nameあり %>
				<% elsif shop.shop_name=="cross_street" && line1shop.location!="Alley-裏通り" %><%#= "cross_st" %>
				<% @lef = 9+24*index %>
				<% @st=9999 %>
					<ul id="bldg<%= index %>" class="shops" style="top:39.3vh; left:<%= @lef %>vw;
						<%= @crossingStreet %>
					">
						<span class="shop_name"><%= line1shop.location.split("-", 2)[0] %></span>
						<%= render partial: "shops/show", locals: { shopInfo: shop, status: @st, each_bldg: line1shop } %>
					</ul>
				
				<%# 裏通り %>
				<% elsif line1shop.location=="Alley-裏通り" %>
				<% @lef = 9+24*index %>
				<% @st=1 %>
					<ul id="bldg<%= index %>" class="shops" style="top:39.3vh; left:<%= @lef %>vw;
						<%= @crossingStreet %>
					">
						<span class="shop_name"><%= "" %></span>
						<%#= render partial: "shops/show", locals: { id: shop.id, locationId: index, each_bldg: line0shop } %>
					</ul>

				<%# shop:隣の2階以上 %>
				<% elsif index > 0 && inde >=1 then %>
					<% @lef = 9+24*index %><!--動的に要素のtop&leftを変更-->
					<% @tp = 38.1+7.8*inde %><!--24.8-4.8>43.2-5>17-5-->
					<ul id="bldg<%= index %>" class="shops" style="top:<%= @tp %>vh; left:<%= @lef %>vw;
								background-image: url(<%#= @tenant.logo_url %>);">
						<span class="shop_name"><%= shop.shop_name %></span>
						<%= render partial: "shops/show", locals: { shopInfo: shop, status: index, each_bldg: line1shop } %>
					</ul>

				<%# shop:隣の1階 %>
				<% elsif index > 0 then %>
					<% @lef = 9+24*index %><!--動的に要素のleftを変更-->
					<ul id="bldg<%= index %>" class="shops" style="top:39.3vh; left:<%= @lef %>vw;
								background-image: url(<%#= @tenant.logo_url %>);">
						<span class="shop_name"><%= shop.shop_name %></span>
						<%= render partial: "shops/show", locals: { shopInfo: shop, status: index, each_bldg: line1shop } %>
					</ul>

				<%# shop:最初の2階以上 %>
				<% elsif index == 0 && inde >= 1 then %>
					<% @tp = 38.1+7.8*inde %>
					<ul id="bldg0" class="shops" style="top:<%= @tp %>vh; left:9vw;
								background-image: url(<%#= @tenant.logo_url %>);">
						<span class="shop_name"><%= shop.shop_name %></span>
						<%= render partial: "shops/show", locals: { shopInfo: shop, status: index, each_bldg: line1shop } %>
					</ul>

				<%# shop:最初の建物 %>
				<% elsif index == 0 && inde == 0 then %>
					<ul id="bldg0" class="shops" style="top:39.3vh; left:9vw;
								background-image: url(<%#= @tenant.logo_url %>);">
						<span class="shop_name"><%= shop.shop_name %></span>
						<%= render partial: "shops/show", locals: { shopInfo: shop, status: "最初" , each_bldg: line1shop } %>
					</ul>

				<% end %>
			<% end %>
		<% end %>
