<p id="anchor" class="closeShops<%= @closeShops_0 %>"></p>

		<% @line0shops.each.with_index do |line0shop, index| %><!--location数-->
			<% @mmm=line0shop.shop_ids.size() %>
				<% if @mmm>5 %><%#= "mallの定義" %>
					<% @mall0=index %>
				<% end %>

			<% line0shop.shops.each.with_index do |shop, inde| %><!--shop数-->

				<%# Mall %>
				<% if index==@mall0 %>
				<% @lef = 9+24*index %>
					<ul id="bldg<%= index %>" class="shops" style="top:23vh; left:<%= @lef %>vw;
						<%= @mallCss %>
					">
						<span class="shop_name"><%= line0shop.location.split(",", 2)[1] %></span>
						<%= render partial: "shops/show", locals: { shopInfo: shop, each_bldg: line0shop, status: @mall0} %>
					</ul>

				<%# Street_nameあり %>
				<% elsif shop.shop_name=="cross_street" && line0shop.location!="Alley-裏通り" %><%#= "cross_st" %>
				<% @st=9999 %>
				<% @lef = 9+24*index %>
					<ul id="bldg<%= index %>" class="shops" style="top:23vh; left:<%= @lef %>vw;
						<%= @crossingStreet %>
					">
						<span class="shop_name"><%= line0shop.location.split("-", 2)[0] %></span>
						<%= render partial: "shops/show", locals: { shopInfo: shop, each_bldg: line0shop, status: @st } %>
					</ul>
				
				<%# 裏通り %>
				<% elsif line0shop.location=="Alley-裏通り" %>
				<% @st=1 %>
				<% @lef = 9+24*index %>
					<ul id="bldg<%= index %>" class="shops" style="top:23vh; left:<%= @lef %>vw;
						<%= @crossingStreet %>
					">
						<span class="shop_name"><%= "" %></span>
						<%#= render partial: "shops/show", locals: { shopInfo: shop, each_bldg: line0shop, status: @st } %>
					</ul>

				<%# shop:隣の2階以上 %>
				<% elsif index > 0 && inde >=1 then %>
					<% @lef = 9+24*index %><!--動的に要素のtop&leftを変更-->
					<% @tp = 22.1-7*inde %><!--24.8-4.8>43.2-5>17-5-->
					<ul id="bldg<%= index %>" class="shops" style="top:<%= @tp %>vh; left:<%= @lef %>vw;
								background-image: url(<%#= @tenant.logo_url %>);">
						<span class="shop_name"><%= shop.shop_name %></span>
						<%= render partial: "shops/show", locals: { shopInfo: shop, each_bldg: line0shop, status: index } %>
					</ul>

				<%# shop:隣の1階 %>
				<% elsif index > 0 then %>
					<% @lef = 9+24*index %><!--動的に要素のleftを変更-->
					<ul id="bldg<%= index %>" class="shops" style="top:23vh; left:<%= @lef %>vw;
								background-image: url(<%#= @tenant.logo_url %>);">
						<span class="shop_name"><%= shop.shop_name %></span>
						<%= render partial: "shops/show", locals: { shopInfo: shop, each_bldg: line0shop, status: index } %>
					</ul>

				<%# shop:最初の2階以上 %>
				<% elsif index == 0 && inde >= 1 then %>
					<% @tp = 22.1-7*inde %>
					<ul id="bldg0" class="shops" style="top:<%= @tp %>vh; left:9vw;
								background-image: url(<%#= @tenant.logo_url %>);">
						<span class="shop_name"><%= shop.shop_name %></span>
						<%= render partial: "shops/show", locals: { shopInfo: shop, each_bldg: line0shop, status: index } %>
					</ul>

				<%# shop:最初の建物 %>
				<% elsif index == 0 && inde == 0 then %>
					<ul id="bldg0" class="shops" style="top:23vh; left:9vw;
								background-image: url(<%#= @tenant.logo_url %>);">
						<span class="shop_name"><%= shop.shop_name %></span>
						<%= render partial: "shops/show", locals: { shopInfo: shop, each_bldg: line0shop, status: "最初" } %>
					</ul>

				<% end %>
			<% end %>
		<% end %>
