<body>
		<div id="pcsize">
			<h3>Street Index</h3>
			<br>
			<p>This site is mobile layout design only.</p>
			<p>Please open your mobile. Thank you.</p>
		</div>
	
	<div id="titleandmenu">
		<h3>STREET INDEX</h3>
		<i class="fas fa-bars"></i>
	</div>
	<div class="whatishere">
			<h5>StreetIndex?</h5>
				<p>You can check all shops on the each street.<br>
				通り沿いのお店をマルっとチェック</p>
				<br>
			<h5>News&Update</h5>
				<p>2021/4/   DB完成</p>
				<p>2021/2/   デプロイ</p>
				<br>
			<h5>ContactUs</h5>
				<h6>♦︎For Harajuku Guest </h6>
				<h6>-原宿で街歩きする方々へ-</h6>
				<p>please let us know if shops are out of business.<br>
				お店が変わっていたら教えてください。<br>
				すぐに情報を反映させます。</p>
				<a href="mailto:moshimoshi.streetindex＠gmail.com&subject=[ChangeShops]" class="mailto">こちら</a>
				<h6>♦︎For Shop owner</6h>
				<h6>-店舗・事業者さま︎-</6h>
				<p>(1)ロゴの変更</p>
				<p>We can edit shops logo soon.</p>
				<p>すぐに変更・削除可能です。<br>
				削除の場合も店舗名は表示されます。</p>
				<a href="mailto:moshimoshi.streetindex＠gmail.com&subject=[Logos]" class="mailto">こちら</a>
				<p>(2)写真の掲載</p>
				<p>It's available upload 5 imgs in shop details.</p>
				<p>店舗詳細欄に写真5点掲載できます。<br>
				店舗入り口、お客様に見せたい商品・<br>
				お料理・サービスなどを送って頂ければ、<br>
				すぐに掲載させて頂きます。</p><br>
				<a href="mailto:moshimoshi.streetindex＠gmail.com&subject=[Imgs]" class="mailto">こちら</a>
				<p>(3)ハッシュタグ</p>
				<p>Also available add/edit hash_tags in shop details.</p>
				<p>店舗詳細欄にハッシュタグがあります。</p>
		<p>すぐにご希望のハッシュタグにできますので、<br>
		ご連絡くださいませ。</p><br>
		<a href="mailto:moshimoshi.streetindex＠gmail.com&subject=[Hash]" class="mailto">こちら</a>
	</div><!--whatishere終わり-->

	<% @streetLength=@many*24%><!--道の長さ13>16>14>13.5>13.8>15-->
	<% @divwidth=@streetLength+11%>

	<div id="main_wrap">
	<div id="main_space" style="width:<%= @divwidth %>vw;">

		<div id="street" style="width:<%=@streetLength%>vw;">
			<a class="streetString"><%= @streetSide.street_name %></a>
		</div>
		
		<!--gpsのpin
		<span class="fa-layers fa-fw">
			<i class="fas fa-splotch fa-spin"></i>
			<span class="fa-layers-text fa-inverse" data-fa-transform="shrink-8 down-3">U</span>
		</span>-->

		<i class="fas fa-sort-up" id="renban_prev" style=
			<% if @renban_prev %>
				<%= @renbanAction %>
			<% else %>
				"color: rgba(239, 231, 174, 1);"
			<% end %>
		></i>
		<%= render partial: 'locations/gotoprev', locals: {prev: @renban_prev} %>

		<i class="fas fa-sort-up" id="renban_next" style=
			<% if @renban_next %>
				<%= @renbanAction %>
			<% else %>
				"color: rgba(239, 231, 174, 1);"
			<% end %>
		></i>
		<%= render partial: 'locations/gotonext', locals: {prev: @renban_next} %>


		<%= render partial: 'locations/cityscape0', locals: {street: @streetSide0, city: @cityscape0 } %>
		<%= render partial: 'locations/cityscape1', locals: {street: @streetSide1, city: @cityscape1 } %>



	</div><!--#main_space終わり-->
	</div><!--<div id="main_wrap">終わり-->

	<!--<div id="bottom_wrap">-->
	<div id="bottom_space">

		<div id="location_button">
			<div id="kensaku" class="">
				<%= form_tag("/", method: :get, :remote => true) do %> 
					<%= text_field_tag :search %>
					<%#= submit_tag "submit", id:"search_button" %>
					<%= button_tag sanitize('<i class="fa fa-search"></i>'), type:"submit", id:"search_button" %>
				<% end %>
			</div>
				
			<div id="gps_button" class="">
				<i class="fas fa-location-arrow" onclick="javascript:getLocation()"></i>
			</div>
		</div>
		
	<!--<div id="event_wrap"> eventは次のページ以降に引っ越し。それまで封印。
			<div id="event_area">
				<ul id="event_carousel">-->
				<%# @events.each_with_index do |event, i| %>
					<%# @random = Random.new %>
					<%# @random = @random.rand(1..3) %>
					<%# @bg="bg#{@random}.png" %>
						<!--<li class="event_title" data-num="event-<%#= i %>"
							style="animation  : event_titleAnime<%#= @random %> 4s linear infinite alternate;
							background-image: url(<%#= asset_path @bg %>);">
							<a class="e_title" href=<%#= event.event_url %>><%#= event.event_title %></a>
						</li>
				<%# end %>
				</ul>
			</div>
		</div>-->

		<div id="category_button">
			<div id="sort1" class="shop_sort">
				<i class="fas fa-shopping-bag"></i>
				<span class="sort_name">Shopping</span>
			</div>
			<div id="sort2" class="shop_sort">
				<i class="fas fa-utensils"></i>
				<span class="sort_name">Eat&Drink</span>
			</div>
			<div id="sort3" class="shop_sort">
				<i class="fas fa-cut"></i>
				<span class="sort_name">Salon</span>
			</div>
			<div id="sort4" class="shop_sort">
				<i class="fas fa-kiwi-bird parent"></i>
				<i class="fas fa-kiwi-bird kid1"></i>
				<i class="fas fa-kiwi-bird kid2"></i>
				<span class="sort_name">+kids</span>
			</div>
		</div>

	</div><!--buttom_space終わり-->
	<!--</div>-->
	
			<div id="streetConfirm"><!--wrapに巻き込まれないように-->
				<div id="info_fadeout" class="info_fadeout">×</div>
				<p id="streetCon">ストリート候補</p>
				<%= form_tag("/", method: :get) do %>
				<ul class="streetUl" style="list-style: none">
					<% if @streetNames.blank? %>
						<li></li>
					<% else %>
						<% @streetNames.each_with_index do |streetName, index| %>
						<li style="margin: 4vw 0vw 2vw -9vw; font-size:1.4rem;">
							<%= streetName.street_name %>
							<%= submit_tag"#{streetName.id}", class: "streetOK" %>
						</li>
						<% end %><!--each_with_indexのend-->
					<% end %><!--ifのend-->
				</ul>
				<% end %><!--form_tagのend-->
			</div>

	<!---
	<div id="drowse_bottom">
		<p>ブラウザの戻る進むボタンなどが表示される</p>
	</div>
	--->
	
	<div id="thegate">
		<p><input type="button" value="password" id="passwordinput"></p>
	</div>
	

	
</body>