<!DOCTYPE html>
<html>
  <head>
    <title>Streetindex</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.2.1/font-awesome-animation.min.css">
    <meta name="viewport"content="width=device-width,initial-scale=1,maximum-scale=1"><!--禁止minimum-scale=1.0,user-scalable=no"-->
    <meta name="description" content="Harajuku(裏原) Map. 表参道・竹下通りなどストリートごとに表示し、1階以外のお店も一目で発見できる、お散歩サポートサイト。">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
